// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.pro-b {
}

.status-offline {
  color:red;
}

.status-offline:visited {
  color:red;
}

.status-offline:hover {
  color:red;
}

.status-offline:active {
  color:red;
}

.status-offline:link {
  color:red;
}
